<app-header backButton="/auth" title="Recuperar cuenta"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
    <div class="form-container">
      <ion-card class="full-width-card3">
      <ion-card-content>
      <app-logo></app-logo>

      

     
            <!--EMAIL-->
        <ion-text class="ion-padding" color="light">
            <h6>Te enviaremos un email para que puedas restablecer tu contraseña</h6>
        </ion-text>

      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
     
      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          El correo es requerido
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          Ingrese un correo válido
        </div>
      </div>

      

      <ion-button
        color="danger"
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

</ion-card-content>
    </ion-card>
  </div>
      <!-- <ion-button class="ion-margin-top" routerLink="/auth/sign-up"  color="danger" expand="block" mode="ios"  fill="outline">
      Registrate
      <ion-icon slot="end" name="person-add-outline"></ion-icon>
     </ion-button>
     -->
      <!--Permite verificar si existe entrada 
              {{form.value.email}}
 
         {{form.value.password}}
                  {{form.value | json}}-->
    </form>
    
  </div>
</ion-content>
