<!-- HEADER -->
<div class="home-page-header-wrapper">
  <ion-buttons slot="start" class="header-button left">
    <ion-button fill="clear" (click)="openLeftMenu()">
      <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <app-header title="Inicio"></app-header>

  <ion-buttons slot="end" class="header-button right">
    <ion-button fill="clear" (click)="openRightMenu()">
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

<!-- ==================== MENÚ IZQUIERDO ==================== -->
<ion-menu side="start" menuId="left-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title><strong>Menú Principal</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <ion-item button menuClose (click)="goUsuarios()" color="danger">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Gestionar Usuarios</ion-label>
      </ion-item>

      <ion-item
        *ngIf="usuarioMembresia == 'Administrador'"
        button
        menuClose
        (click)="goEdiUsuarios()"
        color="danger"
      >
        <ion-icon slot="start" name="create-outline"></ion-icon>
        <ion-label>Agregar Usuarios</ion-label>
      </ion-item>

      <ion-item
        *ngIf="usuarioMembresia == 'Administrador'"
        button
        menuClose
        (click)="sacarReportes()"
        color="danger"
      >
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>Ver Reportes</ion-label>
      </ion-item>

      <ion-item
        *ngIf="usuarioMembresia == 'Administrador'"
        button
        menuClose
        (click)="goToSignUp()"
        color="danger"
      >
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>Ver gráficas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- ==================== MENÚ DERECHO ==================== -->
<ion-menu side="end" menuId="right-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title><strong>Opciones de usuario</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <div class="welcome-container">
          <ion-icon
            name="person-circle-outline"
            class="welcome-icon"
          ></ion-icon>

          <h2 class="welcome-title">Hola,</h2>
          <h1 class="welcome-name">{{ usuarioNombre }}</h1>

          <p class="welcome-subtitle">Bienvenido al Gimnasio Venum</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none" color="dark">
      <ion-item button (click)="goProfile()" color="dark">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item button (click)="goContactos()" color="dark">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Contactos</ion-label>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      color="danger"
      class="ion-margin-top"
      shape="round"
      (click)="signOut()"
    >
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </ion-content>
</ion-menu>

<!-- ==================== CONTENIDO PRINCIPAL ==================== -->
<ion-content id="main-content" class="ion-padding">
  <!-- CARD: Días Asistidos -->
  <ion-card class="full-width-card" color="dark">
    <ion-item color="light">
      <ion-label color="dark">
        <h2><strong>Días Asistidos</strong></h2>
      </ion-label>
    </ion-item>

    <ion-card-content>
      <ion-grid>
        <ion-row class="week-row">
          <ion-col *ngFor="let day of week" size="auto">
            <div [ngClass]="{'day-box': true, 'today': day.isToday}">
              {{ day.name }} <br />
              <small>{{ day.date }}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- CARD: Datos Principales -->
  <ion-card
    *ngIf="usuarioMembresia == 'Administrador'"
    class="full-width-card2"
    color="dark"
  >
    <ion-item color="light">
      <ion-label color="dark">
        <h2><strong>Tus Datos Principales</strong></h2>
      </ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="info-card">
            <ion-card-header>
              <ion-card-title>
                <ion-text color="danger"
                  ><strong>{{usuarioTalla}} cm</strong></ion-text
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content><strong>Estatura</strong></ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="info-card">
            <ion-card-header>
              <ion-card-title>
                <ion-text color="danger"
                  ><strong>{{usuarioPeso}} Kg</strong></ion-text
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content><strong>Peso</strong></ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card class="info-card">
            <ion-card-header>
              <ion-card-title>
                <ion-text color="danger"
                  ><strong>{{UsuarioImc}}</strong></ion-text
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content><strong>IMC</strong></ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="info-card">
            <ion-card-header>
              <ion-card-title>
                <ion-text color="danger"
                  ><strong>{{UsuarioVasos}}</strong></ion-text
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Vasos de agua</strong>
              <p style="margin: 0">(1 vaso = 250 ml)</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- CARD: Áreas de Entrenamiento -->
  <ion-card class="full-width-card" color="dark">
    <ion-item color="light">
      <ion-label color="dark">
        <h2><strong>Áreas que puedes trabajar</strong></h2>
      </ion-label>
    </ion-item>

    <ion-card-content>
      <ion-button
        (click)="goCategoria()"
        size="large"
        color="light"
        expand="block"
        shape="round"
      >
        Ver Áreas
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
