/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.full-width-card {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 15px; /* Opcional */
}


.fondoRojo{
    
      background-color:#820202;
}

.icon-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-icon {
  font-size: 150px; /* Cambia el tamaño según lo que necesites */
  color: var(--ion-color-light); /* O usa un color personalizado */
  margin-bottom: 8px;
}


.full-width-card2 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 15px; /* Opcional */
  background-color:#820202;
}

.full-width-card3 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 20px; /* Opcional */
  background-color:#161616;

}


.day-box {
  background-color: #020202;
  width: 35px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;      // centra horizontalmente
  justify-content: center;  // centra verticalmente
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 10px;
  transition: 0.3s;
}


.today {
  background-color: #fa0101;
  color: rgb(255, 255, 255);
}


.content-home {
  padding-top: 56px; /* compensa la altura del header */
}

.info-card {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.home-page-header-wrapper {
      position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0px;
  background-color: var(--ion-color-primary);
  color: white;
  position: relative;


  .header-button.left {
    margin-right: 15px;
    flex-shrink: 0;
  }

  .header-button.right {
    margin-left: 15px;
    flex-shrink: 0;
  }

  app-header {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
  }
}


.header-button {
  position: absolute;
  top: 10px;
  z-index: 1000;

  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }
}



ion-button {
    text-transform: none;
}

// safe padding for ios
.safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-top: 40px;
}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-input {
    --border-color: #c90000;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 2px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}


.auth-form {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.product-item {
    --padding-top: 20px;

    ion-avatar {
        width: 70px;
        height: 80px;
        --border-radius: 15px;
    }

    .name {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .data {
        font-size: 13px;

        strong {
            font-weight: 500;
        }
    }

    .option-btn {
        font-size: 27px;
    }

    ion-chip {
        font-size: 14px;
        border-radius: 10px;
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }
}

body {
  background-color: #514c4c !important;
}

ion-content {
  --background: #000000;
}
.bordered-image {
  filter:
    drop-shadow(2px 0 0 #c90000)
    drop-shadow(-2px 0 0 #c90000)
    drop-shadow(0 2px 0 #c90000)
    drop-shadow(0 -2px 0 #c90000)
    drop-shadow(1.5px 1.5px 0 #c90000)
    drop-shadow(-1.5px 1.5px 0 #c90000)
    drop-shadow(1.5px -1.5px 0 #c90000)
    drop-shadow(-1.5px -1.5px 0 #c90000);
}


